<!-- nombre: variable a llenar con el dato x -->
<!-- <app-travel-destination *ngFor="let x of destinos" [nombre]="x"></app-travel-destination> -->
<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>

      <!-- form	card	login	with	validation	feedback	-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Formulario</h3>
        </div>
        <div class="card-body">

          <!-- Child component - onItemAdded: Evento Agregar un nuevo destino-->
          <app-travel-destination-form (onItemAdded)="agregado($event)"></app-travel-destination-form>

        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5" />
  <!-- Cards -->
  <!-- ($event) acepta el evento que llega por el eventEmitter -->
  <!-- let j = index indice del for -->

  <div class="row row-flex">

    <app-travel-destination
      *ngFor = "let d of getAll(); let j=index"
      [destino] = "d"
      [numC] = "j + 1"
      (clicked) = 'elegido(d)'
    ></app-travel-destination>

    <!-- <app-travel-destination
      *ngFor = "let d of destinationApiClient.getAll(); let j = index"
      [destino]="d"
      [numC]= "j +1"
      (clicked)='elegido($event)'>
    </app-travel-destination>   -->
  </div>

  <hr class="mb-5">
    <div class="row row-flex">
        <h5>actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}</li>
        </ul>
    </div>
</div>

