<!-- Ubicar en el HTML Nuevas directivas de los tags -->
<!-- fg: Variable Grupo de recursos de un elemento -->

<form [formGroup]= "fg"
  (ngSubmit)="guardar(fg.controls['name'].value,
                      fg.controls['url'].value)">
  <div class="form-group">
    <label for="name">Nombre</label>
    <!-- #nombre : variables de formulario # o variables de platilla -->
    <input type="text" class="form-control" id="name" placeholder="Ingresar nombre..."
      [formControl]="fg.controls['name']">

      <ul>
        <li *ngFor = "let r of searchResults;">{{r}}</li>
      </ul>

      <!-- <div *ngIf="!fg.controls['name'].valid">Nombre Invalido !!!</div> -->
      <div *ngIf="fg.controls['name'].hasError('required')">Nombre Requirido !!!</div>
      <div *ngIf="fg.controls['name'].hasError('invalidNombret')"> Nombre Invalido!!</div>
      <div *ngIf="fg.controls['name'].hasError('minLongNombre')"> Nombre debe tener al menos {{minLongitud}} de largo !!</div>

  </div>
  <div class="form-group">
    <label for="Imagen	Url">Imagen Url</label>
    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..."
      [formControl]="fg.controls['url']">
  </div>

  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
