<!-- <div class="col-md-4"> -->
  <div class="card-content">
    <div class="card-img">
      <img src="../../../../assets/imgs/scarlet.jpg" alt="">
      <!-- <img src="../../../../assets/imgs/z.jpg" alt=""> -->

      <span><h4>{{numCard}}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{destino.nm}}</h3>
      <p>Servicios VIP</p>
      <ul>
        <li *ngFor="let servi of destino.servicios">
          <span [ngSwitch]="servi">
            <i *ngSwitchCase = "'desayuno'" style="color: rgb(255, 0, 0);">{{servi}}</i>
            <i *ngSwitchDefault>{{servi}}</i>
          </span>
        </li>
      </ul>

      <div>
          <!-- manos -->
        <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumbs_up</i></a>
        <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumbs_down</i></a>
        <!-- ver votos -->
        &nbsp;
        {{destino.votes}}
      </div>


      <a href="#" class="btn-card" (click)="ir()">Ir !!!</a>
      <!-- manipular la clase display css - vacio
        (? si es verdadero '') (: sino O es falso 'none' ) -->
      <span *ngIf="destino.isSelected()">
        <span ngNonBindable>{{PREFERIDO}}</span>
      </span>
      <a [routerLink]="['/destino', destino.id]">Ver detalle</a>
    </div>
  </div>

<!-- </div> -->
